<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Search</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plotly.js (for plotting graphs) -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container mt-5 mb-5">
        <h1 class="mb-4">Stock Search</h1>
        <!-- Search form -->
       <%- include("partials/search_form.ejs") %>
       <% if(locals.data){%>
        <!-- Panel to display stock information and graph -->
        <div class="card" id="stockInfoPanel mb-5">
            <div class="card-body">
                <div class="container mt-5 mb-5">
                 <h1><img style="height:50px;" src="<%=data.image%>" alt="Company Logo"> <%="   "+ data.symbol+" (" + data.companyName +")" %></h1>
       
                 <table class="table mt-4">
                <tbody>
                    <tr>
                        <th>Price (USD)</th>
                        <td>$<%=data.price %></td>
                    </tr>
                    <tr>
                        <th>Symbol</th>
                        <td><%=data.symbol %></td>
                    </tr>
                    <tr>
                        <th>Company Name</th>
                        <td><%=data.companyName %></td>
                    </tr>
                 
                    <tr>
                        <th>Market Cap</th>
                        <% let USDollar= new Intl.NumberFormat("en-US",{ style: 'currency',currency: 'USD'}); %>
                        <td><%=USDollar.format(data.mktCap) %></td>
                    </tr>
                    <tr>
                        <th>Last Dividend</th>
                        <td><%=USDollar.format(data.lastDiv) %></td>
                    </tr>
                    <tr>
                        <th>Range</th>
                        <td><%= data.range  %></td>
                    </tr>
                    <tr>
                        <th>Exchange</th>
                        <td><%= data.exchange  %></td>
                    </tr>
                    <tr>
                        <th>Industry</th>
                        <td><%= data.industry  %></td>
                    </tr>
                    <tr>
                        <th>Sector</th>
                        <td><%= data.sector  %></td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td><a href="<%=data.website %>">
                            <%=data.companyName %></a></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><%= data.description  %></td>
                    </tr>
                
                    <tr>
                        <th>IPO Date</th>
                        <td><%= data.ipoDate  %></td>
                    </tr>
                </tbody>
                 </table>
                </div>
           </div>
        </div>
        <%} else if(locals.error){%>
            
            <div class="card border-danger">
                <div class="card-body">
                    <h5 class="card-title text-danger"><%= error %></h5>
                    <h6 class="card-subtitle text-success">Note: <%= note %></h6>
                </div>
            </div>
            
            

            <%}%> 
    </div>

    
</body>
</html>
