<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Search</title>
    <link rel="shortcut icon" type="image/x-icon" href="file.png" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Plotly.js (for plotting graphs) -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        a {
	        color: #0254EB
        }
        a:visited {
          	color: #0254EB
        }
        a.morelink {
	        text-decoration:none;
         	outline: none;
        }
        .morecontent span {
	        display: none;
        }
        .comment {
	       width: 400px;
	       margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container mt-5 mb-5">
     
        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-2">
                    <img src="file.png" class="img-fluid" alt="Logo">
                </div>
                <div class="col">
                    <h1 class="mb-4">Stock Search</h1>
                </div>
            </div>
        </div>
      
       <%- include("partials/search_form.ejs") %>
       <% if(locals.data){%>
       
        <%- include("partials/stock.ejs") %>
        <%} else if(locals.error){%>
            
            <div class="card border-danger">
                <div class="card-body">
                    <h5 class="card-title text-danger"><%= error %></h5>
                    <h6 class="card-subtitle text-success">Note: <%= note %></h6>
                </div>
            </div>
    
            <%}%> 
    </div>
    <% if(locals.stockHistory) { %>
     <%-'<script>'%>
       
        let testVar = <%-JSON.stringify(stockHistory)%>;
        console.log(testVar)
    <%-'</script>'%>
     <%} %>
 <script>
  
     
    document.addEventListener('DOMContentLoaded', function () {
    var showChar = 100;
    var ellipsestext = "...";
    var moretext = "more";
    var lesstext = "less";

    var moreElements = document.querySelectorAll('.more');


   moreElements.forEach(function (element) {
        var content = element.innerHTML;

        if (content.length > showChar) {
            var visiblePart = content.substr(0, showChar);
            var hiddenPart = content.substr(showChar , content.length - showChar);

            var html = visiblePart + 
                       '<span class="moreellipses">' + ellipsestext + '&nbsp;</span>' + 
                       '<span class="morecontent"><span>' + hiddenPart + '</span>&nbsp;&nbsp;' + 
                       '<a href="" class="morelink">' + moretext + '</a></span>';

            element.innerHTML = html;
        }
    });

    document.addEventListener('click', function (event) {
        if (event.target && event.target.classList.contains('morelink')) {
            event.preventDefault();

            var morelink = event.target;
            if (morelink.classList.contains('less')) {
                morelink.classList.remove('less');
                morelink.innerHTML = moretext;
            } else {
                morelink.classList.add('less');
                morelink.innerHTML = lesstext;
            }
    
            morelink.parentNode.previousSibling.style.display = morelink.classList.contains('less') ? 'none' : 'inline';
            morelink.previousSibling.previousSibling.style.display = morelink.classList.contains('less') ? 'inline' : 'none';
        }
    });
});

            
function searchStock() {

    var trace1 = {
  
  x: [], 
  
  close: [], 
  
  decreasing: {line: {color: '#7F7F7F'}}, 
  
  high:[], 
  
  increasing: {line: {color: '#17BECF'}}, 
  
  line: {color: 'rgba(31,119,180,1)'}, 
  
  low: [], 
  open: [], 
  
  type: 'ohlc', 
  xaxis: 'x', 
  yaxis: 'y'
};

testVar.forEach((h)=>{
    trace1.x.push(h.date);
    trace1.open.push(h.open);
    trace1.close.push(h.close);
    trace1.high.push(h.high);
    trace1.low.push(h.low);
}) 

var data = [trace1];
var layout = {
  dragmode: 'zoom',
  showlegend: false,
  xaxis: {
    autorange: true,
    title: 'Date',
    rangeselector: {
      x: 0,
      y: 1.2,
      xanchor: 'left',
      font: {size: 8},
      buttons: [
        {
          step: 'month',
          stepmode: 'backward',
          count: 1,
          label: '1 month'
        }, 
        {
          step: 'month',
          stepmode: 'backward',
          count: 6,
          label: '6 months'
        }, 
        {
          step: 'month',
          stepmode: 'backward',
          count: 12,
          label: '1 year'
        },
        {
          step: 'all',
          label: '5 years'
        }
      ]
    }
  },
  yaxis: {
    autorange: true,
    range: [Math.max(...trace1.close)+1, Math.min(...trace1.close)-1], 
    title: `Price `,
    rangeselector: {
      x: 0,
      y: 1.2,
      yanchor: 'left',
      font: {size: 8}
    }
  }
};

Plotly.newPlot('stockGraph', data, layout);

}



searchStock()
 </script>
</body>
</html>
